:root {
  --mainGray: #bdc3c7;
  --white: #f0f2f0;
}

body {
  font-family: "Oswald", sans-serif;
  background: #bdc3c7;
  margin-top: 30px;
  margin-left: 30px;
}

.home-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
/* .shop-button.md-button {
  margin-top: -16px;
  width: 115px;
} */

/* .md-button  {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  text-shadow: 5px 5px 3px #333;
} */

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.product-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

/* ROYAL KITCHEN UI */

/* ITEM CARD */
.product-list-wrapper {
  border-radius: 6px;
  position: relative;
  margin-right: 0 auto;
  transition: box-shadow 0.3s ease, border 0.3s;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}
.product-list-wrapper {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}
.product-list-wrapper p {
  text-decoration: none;
  transition: color 0.3s ease;
  border-bottom: none;
  display: block;
  height: 20%;
}

.product-list-wrapper .pill {
  /* color: #fff; */
  position: relative;
  top: 7px;
  left: 5px;
  background-color: #aa8553;
  font-size: 0.9125em;
  line-height: 1.7em;
  height: 1.5em;
  padding: 4px 4px;
  border-radius: 3px;
  letter-spacing: 0.03em;
  z-index: 5000;
  text-transform: uppercase;
  box-shadow: 4px 6px 8px 0px rgba(46, 61, 73, 0.2);
}
.product-list-wrapper .place {
  position: relative;
  padding: 1em;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
  color: #aa8553;
  letter-spacing: 0.03em;
}

.place img {
  padding: 2px;
  margin: 0 auto;
}

.card-img {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(1px);
  animation: float 6s ease-in-out infinite;
}

/* img {
  width: 100%;
  height: auto;
} */
